/* Project Section */
#projects {
    padding: 1rem 0 3rem 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
}

.project-title {
    text-align: center;
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.project-description {
    font-family: 'Open Sans', sans-serif;
}

.slide-container {
    width: 100%;
    border-radius: 15px;
    background-color: var(--pale-blue);
    box-shadow: 0 0 15px rgba(165, 229, 226, 0.5);
}

.slide-content {
    margin: 0 80px;

}

.card-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.card {
    max-width: 450px;
    width: auto;
    border-radius: 30px;
    background-color: #fdf8e6;
    border: solid 3px var(--yellow);
    box-shadow: 0 0 15px rgba(165, 229, 226, 0.5);
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--yellow);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--yellow);
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fdf8e6;
}

.card-image {
    position: relative;
    height: 180px;
    width: 210px;
    border-radius: 10%;
    background: #fff;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card-image = parent div, .card-img = child image */
.card-image .card-img {
    height: 170px;
    width: 200px;
    object-fit: cover;
    border-radius: 10%;
    border: 4px solid var(--blue);
}

.project-name {
    font-weight: 500;
    color: var(--dark-blue);
    margin: 1rem 0;
}

.project-description {
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.3;
}

.card-content .view-more-button {
    margin: 0.8rem;
}

.project-button {
    width: 200px;
    height: 3rem;
    background-color: var(--yellow);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.project-button:not(:last-child) {
    margin-bottom: 1rem;
}

.project-button a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-button h4 {
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0 1rem;
}

.github-icon {
    color: var(--dark-blue);
    font-size: 1.8rem;
    margin: 0;
    padding-right: 1rem;
}

.project-button:hover {
    background-color: var(--blue);
    box-shadow: 0 5px 10px rgba(26, 138, 227, 0.5);
}

.project-button:active {
    position: relative;
    top: 10px;
    box-shadow: 0 5px 10px rgba(26, 138, 227, 0.5);
}


@media only screen and (max-width: 820px) {
    .slide-content {
        margin: 0 20px;
    }

    .image-content,
    .card-content {
        padding: 1rem;
    }

    .project-button h4 {
        font-size: .9rem;
        margin: 0;
        padding: 0 0.5rem;
    }

    .project-button {
        width: 170px;
        height: 3rem;
        margin: 0.5rem 0;
    }

    .github-icon {
        font-size: 1.2rem;
    }

}

@media only screen and (min-width: 560px) and (max-width: 760px) {
    .project-description {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 560px) {
    .project-description {
        font-size: 0.8rem;
    }

    .project-button h4 {
        font-size: 0.8rem;
        font-weight: 500;
        margin: 0;
        padding: 0 0.5rem;
    }

}

@media only screen and (max-width: 450px) {
    .card-image {
        height: 140px;
        width: 150px;
    }

    /* .card-image = parent div, .card-img = child image */
    .card-image .card-img {
        height: 130px;
        width: 140px;
        border-radius: 10%;
    }

    .project-button {
        width: 150px;
        height: 3rem;
        margin: 0.5rem 0;
    }

    .github-icon {
        font-size: 1.3rem;
    }
}