/* Project Section */
#projects {
    margin-top: 5rem;
}

.project-section {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content {
    margin: 0 80px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card {
    min-width: 450px;
    border-radius: 30px;
    background-color: #fff;
    border: solid 3px var(--blue);
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--blue);
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image {
    position: relative;
    height: 180px;
    width: 210px;
    border-radius: 10%;
    background: #fff;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card-image = parent div, .card-img = child image */
.card-image .card-img {
    height: 170px;
    width: 200px;
    object-fit: cover;
    border-radius: 10%;
    border: 4px solid var(--blue);
}

.project-name {
    font-weight: 500;
    color: var(--primary-color);
    margin: 1rem 0;
}

.project-description {
    text-align: center;
}

.card-content .view-more-button {
    margin: 0.8rem;
}