#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 450px) {
  .swiper {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
