/* Hero */
#home {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--blue);
}

.hero-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.hero-description {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

main h1 {
  margin-top: 3rem;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: -8px;
}

main h1 .jessie-h1 {
  font-size: 9rem;
}

main h1 .developer-h1 {
  font-size: 8rem;

}

main h1 .the-h1 {
  font-size: 6rem;
}

main p {
  line-height: 1.5;
  margin: 2rem 0;
  font-size: 1.5rem;
  max-width: 35rem;
  padding-left: 0.5rem;
}

main .scroll-down-container {
  width: 90%;
  display: flex;
  justify-content: center;
}

main .scroll-down {
  font-size: 2rem;
  color: var(--dark-blue);
  cursor: pointer;
}

.jessie-image-container {
  width: 50%;
  height: auto;
  position: relative;
}

.jessie-image {
  width: auto;
  height: 100%;
  position: relative;
  z-index: 10;
}

.hero-decoration1 {
  position: absolute;
  right: 20vw;
  top: 40vh;
  width: 100%;

}

.hero-decoration2 {
  position: absolute;
  left: 15vw;
  width: 100%;
  transform: rotate(40deg);
}



@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-description {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .jessie-image {
    height: 400px;
    width: auto;
  }
}

@media only screen and (max-width: 760px) {
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-description {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .jessie-image {
    width: auto;
    height: 350px;
  }

}