/* Hero */
#home {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--blue);
}

.hero-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.hero-description {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.hero-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main h1 {
  margin-top: 3rem;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: -8px;
}

main h1 .jessie-h1 {
  font-size: 9rem;
}

main h1 .developer-h1 {
  font-size: 8rem;
}

main h1 .the-h1 {
  font-size: 6rem;
}

main p {
  line-height: 1.5;
  margin: 2rem 0;
  font-size: 1.5rem;
  max-width: 35rem;
  padding-left: 0.5rem;
}

main .scroll-down-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .scroll-down {
  cursor: pointer;
}

main .scroll-down-mouse {
  width: 24px;
  height: 38px;
  border-radius: 18px;
  border: 1px solid var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main .scroll-down-mouse-ball {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--dark-blue);
}

.jessie-image-container {
  width: 50%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.jessie-image {
  width: auto;
  height: 100%;
  position: relative;
}

.hero-decoration1 {
  position: absolute;
  right: 20vw;
  top: 40vh;
  width: 100%;
}

.hero-decoration2 {
  position: absolute;
  left: 15vw;
  width: 100%;
  transform: rotate(40deg);
}

@media only screen and (min-width: 1000px) and (max-width: 1345px) {
  .hero-desc-container {
    width: 100%;
  }

  .jessie-image {
    width: 550px;
    height: auto;
  }

  .hero-decoration2 {
    position: absolute;
    left: 20vw;
    top: 10vh;
  }

}


@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .jessie-image {
    width: 450px;
    height: auto;
    right: 2rem;
  }

  .hero-decoration2 {
    position: absolute;
    left: 20vw;
    top: 10vh;
  }

  main h1 .jessie-h1 {
    font-size: 6rem;
  }

  main h1 .developer-h1 {
    font-size: 5rem;
  }

  main h1 .the-h1 {
    font-size: 4rem;
  }

  main p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 760px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .hero-description {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
  }

  .hero-desc-container {
    align-items: center;
  }

  main h1 .jessie-h1 {
    font-size: 6rem;
  }

  main h1 .developer-h1 {
    font-size: 5.5rem;
  }

  main h1 .the-h1 {
    font-size: 5rem;
  }

  main p {
    line-height: 1.2;
    margin-top: 0;
    font-size: 1.2rem;
    padding-left: 0;
  }

  .jessie-image-container {
    position: relative;
  }

  .jessie-image {
    height: 450px;
    width: auto;
    position: absolute;
    top: -700px;
  }

  .hero-decoration1 {
    position: absolute;
    top: -400px;
  }

  .hero-decoration2 {
    position: absolute;
    top: -700px;
    left: 150px;
  }
}

@media only screen and (max-width: 560px) {
  .hero-container {
    flex-direction: column;
    justify-content: center;
  }

  .hero-desc-container {
    width: 100%;
  }

  main h1 {
    letter-spacing: -6px;
  }

  main h1 .jessie-h1 {
    font-size: 4rem;
  }

  main h1 .developer-h1 {
    font-size: 3.5rem;
  }

  main h1 .the-h1 {
    font-size: 3rem;
  }

  main p {
    font-size: 1rem;
    padding-left: 0;
    width: 80%;
    margin-top: 0;
  }

  .jessie-image-container {
    position: initial;
  }

  .jessie-image {
    position: initial;
    display: none;
  }

  .hero-decoration1 {
    position: absolute;
    top: 65vh;
    right: 40vw;
  }

  .hero-decoration2 {
    position: absolute;
    top: 0;
    left: 40vw;
  }
}

