#skills {
  min-height: 100vh;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills h4 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  color: var(--dark-green);
}

#skills p {
  line-height: 1.3;
}


.skills-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  height: 180px;
  padding-top: 1rem;
  gap: 1rem;
}

.skills-title h2 {
  text-align: center;
  margin: 0;
  width: 100%;
}

.skill-ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.skill-li {
  list-style-type: none;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.skill-li-selected {
  color: var(--dark-green);
  border-bottom: 3px solid var(--dark-green);
}

.skill-card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem 0;
}

.skill-card-arrow-wrapper {
  display: flex;
  align-items: center;
}

.skill-card-arrow-container {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.skill-card-arrow {
  font-size: 2.5rem;
  color: var(--dark-blue);
}

.skill-card-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  gap: 1rem;
  background: var(--pale-blue);
  border-radius: 15px;
  width: clamp(50%, 1000px, 80%);
  box-shadow: 0 0 15px rgba(165, 229, 226, 0.5);
  max-width: 1000px;
}

.skill-card-panel-left {
  width: 60%;
}

.skill-card-img-container {
  width: 40%;
  max-width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-card-img-container img {
  max-width: 200px;
  width: 90%;
  height: auto;
}

.skill-card-left-content li:not(:last-child) {
  margin-bottom: 5px;
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .skill-li {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 560px) and (max-width: 760px) {
  .skill-card-panel {
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 2rem 0;
  }

  .skill-card-panel-left {
    width: 85%;
  }

  .skill-card-left-content {
    width: 100%;
    font-size: 1rem;
  }

  .skill-ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skill-li {
    font-size: 1.2rem;
  }

  .skill-card-arrow-container {
    width: 2.7rem;
    height: 2.7rem;
  }

  .skill-card-arrow {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 560px) {
  .skill-card-panel {
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 2rem 0;
  }

  .skill-card-container {
    margin-top: 1rem;
  }

  .skill-card-panel-left {
    width: 100%;
  }

  .skill-card-left-content {
    width: 100%;
    font-size: 1rem;
  }

  #skills h4 {
    font-size: 1.5rem;
  }

  .skill-card-left-content ul {
    padding-right: 0.5rem;  
  }

  .skill-card-left-content li {
    font-size: 0.8rem;
  }

  .skill-ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -1.5rem;
  }

  .skill-li {
    font-size: 1rem;
  }

  .skill-card-arrow-container {
    width: 2rem;
    height: 2rem;
  }

  .skill-card-arrow {
    font-size: 1rem;
  }
}