/* Skills */
.skill-card-container {
    display: flex;
    justify-content: center;
  }
  
  .skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  
  .skills {
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  section .skill-logo {
    width: 30%;
    max-width: 112px;
    min-width: 66px;
    height: auto;
  }
  
  section #html-logo,
  section #css-logo {
    width: 25%;
    max-width: 93px;
    min-width: 60px;
  }
  
  section #git-logo {
    width: 48%;
    max-width: 180px;
    min-width: 95px;
  }
  
  @media only screen and (max-width: 760px) {
    .skills-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
    }
    
    .skills {
      width: 100px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  }
  