#skills {
  min-height: 100vh;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills h4 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  color: var(--dark-green);
}

#skills p {
  line-height: 1.3;
}

#skills p, #skills li {
  font-size: 1.3rem;
}

.skill-container {
  width: 80%;
}

.skills-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  height: 180px;
  padding-top: 1rem;
  gap: 1rem;
}

.skills-title h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.skill-ul {
  display: flex;
  justify-content: space-between;
}

.skill-li {
  list-style-type: none;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.skill-li-selected {
  color: var(--dark-green);
  border-bottom: 3px solid var(--dark-green);
}

.skill-card-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.skill-card-arrow-wrapper {
  display: flex;
  align-items: center;
}

.skill-card-arrow-container {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.skill-card-arrow {
  font-size: 2.5rem;
  color: var(--dark-blue);
}

.skill-card-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background: var(--pale-blue);
  border-radius: 15px;
  width: clamp(50%, 1000px, 80%);
  box-shadow: 0 0 15px rgba(165, 229, 226, 0.5);
}

.skill-card-panel-left {
  width: 60%;
}

.skill-card-img-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}