/* Skills */
.skill-card-container {
  display: flex;
  justify-content: center;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.skills {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.skills:hover {

  box-shadow: 0 0 15px rgba(26, 138, 227, 0.5);
}

.flipped {
  box-shadow: 0 0 15px var(--yellow);
}

section .skill-logo {
  width: 30%;
  max-width: 112px;
  min-width: 66px;
  height: auto;
}

section #html-logo,
section #css-logo {
  width: 25%;
  max-width: 93px;
  min-width: 60px;
}

section #git-logo {
  width: 48%;
  max-width: 180px;
  min-width: 95px;
}

@media only screen and (max-width: 760px) {
  .skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .skills {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}