article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5rem;
}

.article-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-date {
    margin-top: -.8rem;
}

.subcategory-container {
    display: flex;
    gap: 1rem;
}

.subcategory-tag {
    padding: 1rem;
    background: var(--orange);
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1.5px;
    border-radius: 20px;
}

.article-img {
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

.article-content {
    letter-spacing: .8px;
    line-height: 2;
}

.article-content::first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    color: var(--primary-color);
    padding-left: 3px;
}