.blog-articles-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    
}

#blog-article-h2 {
    margin: 1.5rem 0 1rem 0.5rem;  
}

#blog-article-p {
    margin-left: 0.5rem;
}

#blog-article-h4 {
    margin: 1rem 0 1rem 0.5rem;  
}

.blog-info-container {
    margin-bottom: 3rem;
}