.bloglist-container {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-title-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}