/* Education & Experience */
#experience {
    min-height: 100vh;
    background-color: var(--pale-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.experience-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 3rem 0;
    text-align: center;
}

.vertical-timeline-element-date {
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
}

.vertical-timeline-element h4 {
    font-size: 1.3rem;
}

.vertical-timeline-element h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

.vertical-timeline-element-icon {
    box-shadow: none;
    box-shadow: 0 0 0 2px #2a3e52 !important;
}

.vertical-timeline-element-content li:not(:last-child) {
    margin-bottom: 8px;
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
    .vertical-timeline-element-content li {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 560px) and (max-width: 760px) {
    .vertical-timeline-element-content li {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 560px) {
    .vertical-timeline-element-content ul {
        padding-inline-start: 0;
    }

    .vertical-timeline-element-content li {
        font-size: 0.8rem;
    }
}