/* Education & Experience */
#experience {
    margin-top: 5rem;
    min-height: 100vh;
}

.timeline-section {
    display: flex;
    justify-content: center;
}

.timeline-container {
    height: auto;
    display: flex;
    justify-content: center;
}

.timeline {
    margin: 2rem 3rem 3rem 3rem;
    width: 85%;
    position: relative;
}

.left-bar {
    border-left: 2px solid var(--primary-color);
    position: absolute;
    left: 1.5rem;
    width: 10%;
    height: 100%;
    z-index: 0;
}

.timeline-icons {
    background-color: #fff;
    min-width: 3rem;
    height: 3rem;
    padding: 1rem 0;
    z-index: 10;
}

.uni-icon {
    background-image: url("/public/image/Icon_certificate_512px_blue.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.work-icon {
    background-image: url("/public/image/Icon_Working_512px_blue.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.timeline-entry {
    display: flex;
}

.timeline-desc-container {
    padding-left: 2rem;

}

.timeline-desc-container li {
    line-height: 1.6;
}

@media only screen and (min-width: 480px) and (max-width: 760px) {
    .timeline {
        margin: 2rem 1rem;
        width: 90%;
        line-height: 1.3;
    }

}

@media only screen and (max-width: 480px) {
    .timeline {
        margin: 2rem 1rem;
        width: 85%;
        line-height: 1.3;
    }

    .timeline-desc-container ul {
        list-style-position: outside;
        padding: 0;
    }
}