/* Education & Experience */
#experience {
    min-height: 100vh;
    background-color: var(--pale-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.experience-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0 3rem 0;
    text-align: center;
}

.experience-title-container h2 {
    font-size: 3rem;
    width: 100%;
}

.vertical-timeline-element-date {
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
}

.vertical-timeline-element h4 {
    font-size: 1.3rem;
}

.vertical-timeline-element h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

.vertical-timeline-element-icon {
    box-shadow: none;
    box-shadow: 0 0 0 2px #2a3e52 !important;
}