/* Universal style */

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #183153;
  --yellow: #FBC821;
  --orange: #FCAC1E;
  --blue: #1A8AE3;
  --font: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--primary-color);
}

h1 {
  font-size: 3.125rem;
  line-height: 1.3;
}

h2 {
  font-size: 2rem;
  width: 80%;
  max-width: 1280px;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
  font-size: 1rem;
}

ul {
  color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
}

li {
  font-size: 1rem;
}

body {
  width: 100%;
}

/* To keep all the contents below 80% width*/
.eighty-width {
  width: 80%;
  max-width: 1280px;
}

.boxshadow {
  box-shadow: 0 0 15px 5px rgba(121, 121, 121, 0.2);
  border-radius: 30px;
}

/* h2 titles to be kept within a div */
.title {
  display: flex;
  justify-content: center;
}

/* Media Query 760-1000px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}

/* Media Query 500-760px */
@media only screen and (min-width: 500px) and (max-width: 760px) {
  body,
  html {
    font-size: 14px;
  }
}

/* Media Query -1000px */
@media only screen and (max-width: 1000px) {
  /* Below 1000px and h2 titles should be centered instead of left positioned */
  h2 {
    width: auto;
    /* margin: 6rem 0 2rem 0; */
  }
}

/* Media Query - 760px */
@media only screen and (max-width: 760px) {
  .eighty-width {
    width: 95%;
  }

  .boxshadow {
    box-shadow: none;
  }

  .basic-button {
    margin-top: 0;
  }
}

/* Media Query - 500px */
@media only screen and (max-width: 500px) {
  body,
  html {
   font-size: 12px;
  }
}
