/* Universal style */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Fonts details 
font-family: 'Archivo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #dbedec;
  --pink: #fce5d4;
  --pale-blue: #e6efee;
  --dark-blue: #2a3e52;
  --beige: #f1cfb2;
  --green: #c4dea5;
  --yellow: #f7dc86;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo', sans-serif;;
  color: var(--dark-blue);
}

h1 {
  font-size: 3.125rem;
  line-height: 1.3;
}

h2 {
  font-size: 2rem;
  width: 80%;
  max-width: 1280px;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-family: 'Ubuntu', sans-serif;
  color: var(--dark-blue);
  font-size: 1rem;
}

ul {
  color: var(--dark-blue);
  font-family: 'Open Sans', sans-serif;
}

li {
  font-size: 1rem;
}

body {
  width: 100%;
}

/* To keep all the contents below 80% width*/
.eighty-width {
  width: 80%;
  max-width: 1280px;
}

.boxshadow {
  box-shadow: 0 0 15px 5px rgba(121, 121, 121, 0.2);
}

/* h2 titles to be kept within a div */
.title {
  display: flex;
  justify-content: center;
}

/* Media Query 760-1000px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}

/* Media Query 500-760px */
@media only screen and (min-width: 500px) and (max-width: 760px) {
  body,
  html {
    font-size: 14px;
  }
}

/* Media Query -1000px */
@media only screen and (max-width: 1000px) {
  /* Below 1000px and h2 titles should be centered instead of left positioned */
  h2 {
    width: auto;
    /* margin: 6rem 0 2rem 0; */
  }
}

/* Media Query - 760px */
@media only screen and (max-width: 760px) {
  .eighty-width {
    width: 90%;
  }

  .basic-button {
    margin-top: 0;
  }
}

/* Media Query - 500px */
@media only screen and (max-width: 500px) {
  body,
  html {
   font-size: 12px;
  }
}
