/* About Me */
.about-me-wrapper {
  width: 100% ;
  min-height: 100vh;
  height: auto;
  background-color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-h2 {
  text-align: center;
  margin: 0;
  padding-top: 3rem;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.about-me-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.about-me-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-me-title-wrapper h3 {
  font-size: 1.6rem;
  font-weight: 500;
  flex-wrap: wrap;
}

.about-me-expansion {
  font-size: 2rem;
}

.about-me-rotate {
  transform: rotate(180deg);
}

.about-me-icon {
  font-size: 2.5rem;
  color: var(--dark-blue);
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-p {
  font-size: 1.3rem;
}

.about-me-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.about-me-card {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px rgba(165, 229, 226, 0.5);
  z-index: 10;
}

.about-me-card1 { 
  background-color: var(--pink);
 } 

 .about-me-card2 { 
  background-color: var(--yellow);
 }

 .about-me-card3 { 
  background-color: var(--blue);
 }

 .about-me-card4 { 
  background-color: var(--green);
 }

 .about-me-card5 { 
  background-color: var(--pink);
 }

 @media only screen and (max-width: 1000px) {
  .about-me-title-wrapper h3 {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .about-me-p {
    font-size: 1rem;
    line-height: 1.4;
  }

  .about-me-expansion {
    font-size: 1.8rem;
  }
 }

 @media only screen and (max-width: 760px) {
  .about-me-title-wrapper h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
 }

 @media only screen and (max-width: 560px) {
  .about-me-title-wrapper h3 {
    font-size: 1.1rem;
    font-weight: 500;
  }
 }